{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Бронирование рабочих мест в кабинете</h1>
    <p>Для бронирования рабочего места в кабинете войдите или зарегистрируйтесь на сайте.</p>
    <p>Для простмотра информации о забронированных местах, перейдите по ссылке "Просмотреть забронированные места".</p>
    {% if user.is_authenticated %}
        <div class='booking_button'>
            <a href="{% url 'booking' %}">Забронировать место</a>
        </div>
    {% endif %}
{% endblock %}